#phlag-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  z-index: 20000000;
  transition: opacity 0.2s linear;
}

#phlag-container {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 20000001;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.2s linear;
  justify-content: center;
  align-items: center;
}

/* Style all immediate children of phlag-container that are a div */
#phlag-container > div {
  padding: 20px;
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#phlag-header {
  font-size: 15px;
  font-weight: bold;
}

#flag-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 510px;
  border-top: 1px solid #D3D3D3;
}

#flag-container::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

#flag-container::-webkit-scrollbar-thumb {
  background-color: #B5B6B6;
  border-radius: 10px;
}
 /* -------------------------------------------- */

 #user-flag-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 510px;
  border-top: 1px solid #D3D3D3;
 }

 #user-flag-container::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

#user-flag-container::-webkit-scrollbar-thumb {
  background-color: #B5B6B6;
  border-radius: 10px;
}
/* -------------------------------------------- */

.flag-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #D3D3D3;
  height: 52px
}

.flag-title {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}

#flag-footer {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid #D3D3D3;
  padding-top: 10px;
}

#beta-button {
  border: none;
  background-color: #F36F31;
  color: #FFFFFF;
  padding: 0px 10px;
  font-weight: 300;
  border-radius: 20px;
  margin-right: 5px;
}

/* ---------- Select Dropdown ---------- */
.feature-select {
  width: 100%;
  height: 35px;
  min-width: 155px;
  border: 1px solid #5DD2EB;
  color: inherit;
  outline: none;
  border-radius: 4px;
  padding: 4px 4px;
  font-size: 15px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}

/* ---------- --------- ---------- */

/* ---------- Toggle button ---------- */
.flagCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
  padding-top: 5px;
}

.flagCheckboxLabel {
  cursor: pointer;
  text-indent: -999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin: 0
}

.flagCheckboxLabel:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

.flagCheckbox:checked + .flagCheckboxLabel {
  background: #5DD2EB;
}

.flagCheckbox:checked + .flagCheckboxLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.flagCheckboxLabel:active:after {
  width: 40px;
}

/* ---------- --------- ---------- */

/* ---------- User icon ---------- */
.user-icon{
  /* font-size: 20px;
  border-radius:10px; 
  border:1px solid #5DD2EB;
  height:20px; 
  width: 20px;
  background-color: #5DD2EB; */
  margin-left: 8px;
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 15px;
  height: 22px;
  color: grey;
}

.user-icon::after,
.user-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}
.user-icon::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}
.user-icon::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
}

.user-icon:hover {
  color: #5DD2EB;
}
