#phlag-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  z-index: 20000000;
  transition: opacity 0.2s linear;
}

#phlag-container {
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 20000001;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.2s linear;
  justify-content: center;
  align-items: center;
}

/* Style all immediate children of phlag-container that are a div */
#phlag-container > div {
  padding: 20px;
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#phlag-header {
  font-size: 15px;
  font-weight: bold;
}

#flag-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 510px;
}

.flag-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #D3D3D3;
}

.flag-title {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}

/* ---------- Toggle button ---------- */
.flagCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.flagCheckboxLabel {
  cursor: pointer;
  text-indent: -999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.flagCheckboxLabel:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

.flagCheckbox:checked + .flagCheckboxLabel {
  background: #5DD2EB;
}

.flagCheckbox:checked + .flagCheckboxLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.flagCheckboxLabel:active:after {
  width: 40px;
}

/* ---------- --------- ---------- */